:root {
 --main-bg-color: rgb(84, 68, 43);
 --main-border-color: rgb(38, 42, 16);
 --main-text-color: aliceblue;
 --main-highlight-color: rgb(85, 73, 54);
}


body {
  margin: 0px;
}

.text_back {
  background-color: var(--main-bg-color);
  width: fit-content;
  display: block;
  color: var(--main-text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin-top: -700px;
  z-index: 10;
  font-size: 40pt;
  padding: 0.005px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.Back_second {
  background-color: var(--main-bg-color);
  width: 100%;
  display: block;
  color: var(--main-text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  z-index: 10;
  font-size: 20pt;
  margin-top: 450px;
  padding: 0.005px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 10px solid var(--main-border-color); /* thickness, style, color */
}

.navbar {
  width: 100%;
  background-color: var(--main-bg-color);
  overflow: auto;
  position: fixed;
  height: fit-content;
  padding: 6px;
  list-style-type: none;
  border-bottom: 10px solid var(--main-border-color); /* thickness, style, color */
  z-index: 20;
}

/* Navbar links */
.navbar li {
  list-style: none;
  color: var(--main-text-color);
  text-align: center;
  font-size: 30px;
  display: inline-block;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.navbar a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Navbar links on mouse-over */
.navbar li:hover {
  border-radius: 5%;
  background-color: var(--main-highlight-color);
}

.logo {
    padding: 6px;
    border-radius: 50%;
    width: 80px;
    float: left;
}