/* ###################################################################################################
This is for variables
#######################################################################################################*/

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');





:root {
 --main-bg-color: rgb(84, 68, 43);
 --main-border-color: rgb(38, 42, 16);
 --main-text-color: aliceblue;
 --main-highlight-color: rgb(85, 73, 54);
 --main-button-color: rgb(169,113,75)
}

/* ###################################################################################################
This is for the body and text
#######################################################################################################*/
body {
  margin: 0px;
  background-color: var(--main-bg-color);
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.Background_home {
  width: 100%;
  margin-bottom: -250px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.text_back {
  background-color: var(--main-bg-color);
  width: fit-content;
  display: block;
  color: var(--main-text-color);
  font-family: "Quicksand", sans-serif;
  position: relative;
  margin-top: -600px;
  margin-bottom: 100px;
  z-index: 10;
  border-radius: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text_back h1 {
  padding: 25px;
}

.Back_second {
  text-align: center;
  background-color: var(--main-bg-color);
  width: 100%;
  display: block;
  color: var(--main-text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  z-index: 10;
  margin-top: 450px;
  padding: 0.005px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 10px solid var(--main-border-color); /* thickness, style, color */
}


/* ###################################################################################################
This is for the nav bar  
#######################################################################################################*/

.navbar {
  width: 100%;
  background-color: var(--main-bg-color);
  overflow: auto;
  position: fixed;
  height: fit-content;
  padding: 6px;
  list-style-type: none;
  border-bottom: 10px solid var(--main-border-color); /* thickness, style, color */
  z-index: 20;
}

/* Navbar links */
.navbar li {
  list-style: none;
  color: var(--main-text-color);
  text-align: center;
  font-size: 30px;
  display: inline-block;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.navbar a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Navbar links on mouse-over */
.navbar li:hover {
  border-radius: 5%;
  background-color: var(--main-highlight-color);
}

.logo {
  padding: 6px;
  border-radius: 50%;
  width: 80px;
  float: left;
}

/* ###################################################################################################
This is for menu 
#######################################################################################################*/

.menu {
  display: flex;
  scrollbar-width: thin;
  scrollbar-color: var(--main-border-color) var(--main-bg-color);
  width: 95%;
  list-style-type: none;
  z-index: 15;
  height: fit-content;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 10px;
  gap: 30px;
  flex-direction: row;
  padding-bottom: 10px;
  margin: 0 auto;
  align-items: center;
  align-self: center;
}
.menu_item {
  padding: 50px;
  background-color: var(--main-border-color);
  border-radius: 30px;
  width: 400px;
  height: 650px;
}

.menu_item p {
  font-size: 20pt;
}

.menu_item h3 {
  font-size: 40pt;
  white-space: wrap;
}

.menu_image {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/*<!-- HTML !-->
<button class="button-36" role="button">Button 36</button>*/

/* CSS */
.Add_to_cart_button {
  background-color: var(--main-button-color);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 25px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
}

button:hover {
  box-shadow: var(--main-highlight-color) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  button {
    padding: 0 2.6rem;
  }
}

/* ###################################################################################################
This is for the footer
#######################################################################################################*/


#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}